<!DOCTYPE HTML>
<html>
<!-- страница отдается смертным пользователям с уровнем доступа *только просмотр* -->
<head>
<meta charset="UTF-8">
<title>Tilte of</title>
<style>
    body {
        background-color: black;
    }
    h1 {
        color: white;
        font-size: 40px;
        text-align: center;
    }
    h2{
        color: white;
        font-size: 35;
        text-align: center;
    }
    p{
        color: white;
        font-family: Verdana;
        font-size: 15px;
        text-align: center;
    }
    form{
        color: white;
        text-align: center;
    }
</style>
</head>

<body>
    <h1>Пользователи:</h1>

{% for item in users %}
    <h2>Пользователь: {{ item.nickname }}</h2>
    <p>Почта пользователя: {{ item.login }}</p>
    <p>Id Пользователя: {{ item.id }}</p>
    <!-- простые сметрные не видят уровень доступа пользователей -->
    
{% endfor %}

</body>

</html>